a {
	/*border: 3px magenta solid;*/
	color: #FF6533;
}
a:hover, a:focus {
	color: #FF4C00;
}
html, body {
    height:100%;
}
img {
	max-width: 100%;
	height: auto;
	background-size: contain;
}

body {
	/*display: flex;*/
    /*flex-direction: column;*/
	background-image: url('img/bg.png');
	background-attachment: fixed;
	font-family: Monaco;
	margin: 0 0 0 0;
}

#header {
	position: fixed;
	/*background-color: #3e3e3e;*/
	/*background-color: #7FFF00;*/
	background-color: rgba(62,62,62,0.7);
	height: 45px;
	width: 100%;
	display: flex;
	flex-direction:row;
	align-items: center;
    justify-content: center;
	/*z-index: 10;*/
	box-shadow: 0 0 0 2px rgba(0,0,0,0.5)
}

#header a {
	color: white;
	text-decoration:none;
}

.hdrbox {
	/*vertical-align: middle;*/
	width: 50%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	/*background-color: #00FFFF;*/
}
.hdr-item {
	text-align: center;
	/*border: 3px blue solid;*/
}

#intro {
	height: 100%;
	padding-top: 45px;
	/*background-color: #7F4F00;*/
	/*border: 3px pink solid;*/
	background-color: rgba(255,255,255,0.0);
	/*background-image: url('img/bg.png');*/
	display: flex;
	flex-direction: column;
    justify-content: center;
}

.intro-transition {
	height: 25px;
	width: 100%;
	background: linear-gradient(to top, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.0) 60%,rgba(0,0,0,0.0) 100%);
}

#intro h1 {
	/*border: 3px blue solid;*/
	text-align: center;
	font-size: 500%;
}
#intro h2 {
	/*border: 3px purple solid;*/
	text-align: center;
	font-style: oblique;
	font-size: 200%;
}
#intro h3 {
	/*border: 3px green solid;*/
	text-align: center;
	font-size: 100%;
}
.quotes {display: none;} /*http://jsfiddle.net/jfriend00/n4mKw/*/

#network {
	/*border: 3px pink solid;*/
	text-align: center;
}

/* Style all font awesome icons */
.fa {
    padding: 10px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
    color: initial;
}

/* Set a specific color for each brand */

/* LinkedIn */
.fa-linkedin {
    background: #0077B5;
    color: white;
}

/* Github */
.fa-github {
    background: #6e5494;
    color: white;
}

.section {
	display: flex;
	flex-direction: column;
    justify-content: center;
    background-opacity: .9;
    padding-bottom: 7px;
    background-color: white;
    /*border: 3px yellow solid;*/
    /*background-image: url('img/bg.png');*/
}

.title {
	margin-top: 45px;
	padding-top: 20px;
	padding-left: 9%;
	font-size: 200%;
	/*background-color: #FFFF00;*/
}

hr.style-two {
	/*https://css-tricks.com/examples/hrs/*/
    border: 0;
    margin-top: 3px;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), 
    											rgba(0, 0, 0, 1), 
    											rgba(0, 0, 0, 0.20),
    											rgba(0, 0, 0, 0.15),
    											rgba(0, 0, 0, 0.1), 
    											rgba(0, 0, 0, 0.05),
    											rgba(0, 0, 0, 0));
}

.content{
	margin-bottom: 3px;
	height: 150px;
	/*border: 3px violet solid;*/
	/**/
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.l-active {
/*active content*/
	width: 100%;
	height: 100%;
	border-right: solid #aaaaaa; 
	border-radius: 3px;
	/*box-shadow: 0 0 0 0px rgba(0,0,0,0.2);*/
	background: -webkit-linear-gradient(right, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.0) 80%,rgba(0,0,0,0) 100%);
	transition: all 50ms ease-out;
}
.l-active:hover {
	/*box-shadow: 0 0 6px #666666;*/
	background: -webkit-linear-gradient(right, rgba(0,0,0,0.333) 0%, rgba(0,0,0,0.0) 80%,rgba(0,0,0,0) 100%);
}
.r-active {
/*active content*/
	width: 100%;
	height: 100%;
	border-left: solid #aaaaaa;
	border-radius: 3px;
	/*box-shadow: 0 0 0 0px rgba(0,0,0,0.2);*/
	background: -webkit-linear-gradient(left, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.0) 80%,rgba(0,0,0,0) 100%);
	transition: all 250ms ease-out;
}
.r-active:hover {
	/*box-shadow: 0 0 6px #666666;*/
	background: -webkit-linear-gradient(left, rgba(0,0,0,0.333) 0%, rgba(0,0,0,0.0) 80%,rgba(0,0,0,0) 100%);
}

.r-instance {
	width: 40%;
	height: 100%;
	border-left: hidden;	
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	text-align: left;
	padding: 5px;
}

.l-instance {
	width: 40%;
	height: 100%;
	border-right: hidden;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	text-align: right;
	padding: 5px;
}

.l-plus-container {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	height: 100%;
	width: 100%;
}
.l-plus {
	/*border: 3px purple solid;*/
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	height: 50%;
	width: 30%;
}
.l-plus:hover {
	box-shadow: 0 0 6px #555555;
}
.l-plus img {
	/*border: 3px yellow solid;*/
	padding: 3px;
	max-height: 30%;
}
.r-plus-container {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	height: 100%;
	width: 100%;
}
.r-plus {
	/*border: 3px purple solid;*/
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	height: 50%;
	width: 30%;
}
.r-plus:hover {
	box-shadow: 0 0 6px #555555;
}
.r-plus img {
	/*border: 3px yellow solid;*/
	padding: 3px;
	max-height: 30%;
}
.inst-text-content {
	display: flex;
	flex-direction: column;
	justify-content: inherit;
	/*border: 3px purple solid;*/
}

.inst-img {
	max-width: 100%;

	/*border: 3px #00FF7F solid;*/
}
.inst-img img {
	max-height: 80%;
	max-width: 70%;
	text-align: left
}

.inst-title {

}
.inst-txt {
	/*border: 3px #00FF7F solid;*/
	/*justify-content: inherit;*/
}
.inst-txt h3 {
	font-size: 100%
}
.inst-txt h5 {
	font-size: 80%
	font-style: oblique;
}
.inst-txt p {
	font-size: 80%
	font-style: normal;
}
.inst-date {
	border: 3px #00FF7F solid;
}

.timeline-frame {
	height: 100%;
	padding: 0;
	margin: 0 10px 0 10px;
	/*align-self: flex-start;*/
	display: flex;
	flex-direction: column;
	width: 3%;
	/*border: 3px violet solid;*/
}
.timeline-frame-click {
	transition: all 200ms ease-out;
	height: 100%;
	padding: 0;
	margin: 0 10px 0 10px;
	/*align-self: flex-start;*/
	display: flex;
	flex-direction: column;
	width: 3%;
	/*border: 3px violet solid;*/
}
.timeline-frame-click:hover {
	/*box-shadow: 0 0 6px #555555;*/
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.0) 50%,rgba(0,0,0,0) 100%);
}

.timeline-line-top {
    border: 0;
    margin: 0 auto 0 auto;
    height: 45%;
    width: 5px;
    background-color: black;
    background: -webkit-linear-gradient(bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
    /*background-image: linear-gradient(to top, rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.70),rgba(0, 0, 0, 1));*/
}

.timeline-line-bot {
    border: 0;
    margin: 0 auto 0 auto;
    height: 45%;
    width: 5px;
    background-color: black;
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
    /*background-image: linear-gradient(to top, rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.70),rgba(0, 0, 0, 1));*/
}
.timeline-dot {
    background-image: url('./circle.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    /*width: 100%;*/
    height: 10%;
    margin-top: 5px;
    margin-bottom: 5px;
    /*border: 3px white dotted;*/
}
.timeline-date {
	text-align: center;
    /*width: 100%;*/
    height: 10%;
    font-size: 90%;
    border-bottom: 1px black groove;
    border-top: 1px black groove;
    /*border: 3px black dotted;*/
}
.timeline-line-empty {
    border: 0;
    margin: 0 auto 0 auto;
    height: 45%;
    width: 5px;
    /*background-color: white;*/
    /*background-image: linear-gradient(to bottom, rgba(100, 100, 100, 0), rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.60),rgba(0, 0, 0, 0.70),rgba(0, 0, 0, 1));*/
}


#edu {
	background-color: #FFFFFF;
	/*background-color: #00FFFF;*/
	/*scroll-behavior: smooth;*/
}
#old-edu {
	/*http://api.jquery.com/slidedown/*/
	display: none;
}
#exp {
	background-color: #FFFFFF;
	/*background-color: #FF008B;*/
	/*scroll-behavior: smooth;*/
}
#old-exp {
	display: none;
}
#projects {
	background-color: #FFFFFF;
	/*background-color: #008B8B;*/
	/*scroll-behavior: smooth;*/
}

.project-table {
	padding: 20px 20px 20px 20px;
}
.project-table h4 {
	padding-left: 40px;
	padding-bottom: 20px;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover {background-color:#f5f5f5;}

#leisures {
	background-color: #FFFFFF;
	/*background-color: #0000FF;*/
	/*scroll-behavior: smooth;*/
}


#wrapper {
  height: 100%;
  padding-right: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-right: 300px; /*reduce wrapper*/
}

.sidebar-wrapper {
  /*background: url('img/bgpanel.jpg');*/
  right: 0px;
  width: 300px; /**/
  height: 100%;
  position: fixed;
  /*margin-left: -250px;*/
  margin-left: -300px; 
  /*overflow-y: auto;*/
  /*border-left: 1px solid #3e3e3e;*/
  margin-top: 45px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled .sidebar-wrapper {
  border-left: 1px groove #3e3e3e;
  /*width: 250px;*/
  display: block;
  width: 300px;
}

/*
#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled {
  position: absolute;
  margin-right: : -300px;
}
.panelbg {
	height: 100%;
	/*background-image: url('img/bgpanel.jpg');
	background:
	-webkit-linear-gradient(top, 
		rgba(255,255,255,1) 10%,
		rgba(255,255,255,0) 75%),
	url("img/panel.gif");
}
*/

/* Sidebar fly Styles */

.sidebar-nav-fly {
	display: none;
	position: relative;
	/*width: 250px;*/
	width: 300px;
  	height: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
}

/*sidebar content*/
.sb-container {
	transition: all 200ms ease-out;
	display: flex;
	flex-direction: row;
    justify-content: flex-start;
    align-items: top;
	overflow-y: auto;
	/*border: 3px pink solid;*/
	height: 100%;
}

.sb-transition {
	border: 3px blue solid;
	height: 93%;
	width: 25px;
	background: linear-gradient(to right, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.0) 80%,rgba(0,0,0,0.0) 100%);
	display: flex;
	align-items: center;
}
.sb-content {
	transition: all 200ms ease-out;
	padding: 5%;
	display: flex;
	flex-direction: column;
    justify-content: flex-start;
	overflow-y: auto;
	/*border: 3px green solid;*/
}

.sb-transition img {
	height: auto;
	width: auto;
}
.sb-transition:hover {
	/*background-color: white;*/
}

.sb-img {
	padding-bottom: 5px;
}
.sb-img:hover {
	box-shadow: 0 0 6px #888888;
}
.sb-img img {
	max-height: 200px;
	display: block;
    margin-left: auto;
    margin-right: auto;

}
hr.style-sb {
	/*https://css-tricks.com/examples/hrs/*/
    border: 0;
    margin-top: 3px;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0) 10%,rgba(0,0,0,0.65) 50%,rgba(0,0,0,0) 90%);
}
.sb-title {
	text-align: center;
}
.sb-title h3 {
	font-size: 120%;
}
.sb-title h5 {
	font-size: 80%;
}
.sb-text {
	font-size: 80%;
}